.tooltip{
   position: absolute;
   z-index: 500;
   background-color: rgba( 0,0,0,0.6);
   box-shadow: 0 0 2px rgb(231, 145, 17) , 0 0 0 6px rgba( 0,0,0,0.6);
   padding: .8rem;
   color: white;
   font-family: 'IBM Plex Mono', monospace;
   font-weight: bold;
   font-size: .975rem;
   max-width: 170px;
   border-radius: 2px;
   line-height: 1.5;
   

}